/* le corps */ 

body 
{    
	background-color: rgb(251,251,251);   
	font-family: 'Trebuchet MS', Arial, sans-serif;
    color: gray; 
} 
#bloc_page 
{    
	width: 900px;    
	margin: auto; 
} 
#titre_principal 
{    
	 
	border-bottom: 3px black solid; 
} 


/* mes photos */ 

#maphoto
{    
	 
	width: 50%; 
	height: 50%;
} 
#img
{    
	 
	width: 5%; 
	height: 50%;
} 
#img2
{    
	 
	width: 100%; 
	height: 50%;
} 
#img3
{    
	 
	width: 100%; 
	height: 50%;
}
#img4
{    
	 
	width: 100%; 
	height: 50%;
} 
#img5
{    
	 
	width: 100%; 
	height: 50%;
} 
#img6
{    
	 
	width: 100%; 
	height: 50%;
} 





#jobs
{    
	text-align: center; 
}

section h1, footer h1, nav a 
{    
	font-family:,Dayrom, serif;    
	font-weight: normal;    
	 
}

/* en-tete */ 


#titre_principal 
{    
	display: inline-block; 
} 
header h1 
{   
     font-size: 2.5em;    
     font-weight: normal; 
} 
    #maphoto, header h1 
{    
	display: inline-block;    
	margin-bottom: 0px; 

} 
	header h2 
{    font-family: Dayrom, serif;    
	 font-size: 1.1em;    
	 margin-top: 0px;    
	 font-weight: normal; 
}


/* Les Nav */ 
nav 
{    
	display: inline-block;    
	width: 740px;    
	text-align: right; 
} 
nav ul 
{    
	list-style-type: none; 
} 
nav li 
{    
	display: inline-block;    
	margin-right: 15px; 
} 
	nav a 
{    font-size: 1.3em;    
	color: #181818;    
	padding-bottom: 3px;    
	text-decoration: none; 
} 
nav a:hover 
{    
	color: #760001;    
	border-bottom: 3px solid #760001; 
}


/* Corps */ 
article, aside 
{    
	display: inline-block;    
	vertical-align: top;    
	text-align: justify; 
}

article 
{    
	width: 625px;    
	margin-right: 15px; 
} 
.ico_categorie 
{    vertical-align: middle;    
	margin-right: 8px; 
} 
article p 
{    
	font-size: 0.8em; 
} 
aside 
{    
	position: relative;    
	width: 235px;    
	background-color: #706b64;    
	box-shadow: 0px 2px 5px #1c1a19;    
	border-radius: 2px;    
	padding: 10px;    
	color: white;    
	font-size: 0.9em; 
} 
#fleche_bulle 
{    
	position: absolute;    
	top: 100px;    
	left: -12px; 
} 
#photo_zozor 
{    
	text-align: center; 
} #photo_zozor img 
{    
	border: 1px solid #181818; 
} 
aside img 
{    
	margin-right: 5px; 
}
footer 
{    
	background:  url('images/ico_top.png') 
	no-repeat top center, url('images/separateur.png') 
	repeat-x top, url('images/ombre.png') repeat-x top;    
	padding-top: 25px; 
} 
	footer p, footer ul 
{    
		font-size: 0.8em; 
} 
	footer h1 
{    
	font-size: 1.1em; 
} 
#tweet, #mes_photos, #mes_amis 
{    
	display: inline-block;    
	vertical-align: top;

} 
#tweet 
{    
	width: 28%; 
} 
#mes_photos 
{    
	width: 35%; 
} 
#mes_amis 
{    
	width: 31%; 
} 
#mes_photos img 
{    
	border: 1px solid #181818;    
	margin-right: 2px; 
} 
#mes_amis ul 
{    display: inline-block;    
	vertical-align: top;    
	margin-top: 0;    width: 48%;    
	list-style-image: url('images/ico_liensexterne.png');    
	padding-left: 2px; 
} 
#mes_amis a 
{    
	text-decoration: none;    
	color: #760001; 
}
